<nav class="navbar bg-primary navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a routerLink="/breeds" class="navbar-brand" >Show All Data</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="/addbreeds" class="nav-link active" aria-current="page">Add Breed</a>
          <a routerLink="/cat" class="nav-link active" aria-current="page">All Cats</a>
          <a routerLink="/dog" class="nav-link active" aria-current="page">All Dogs</a>
          <a routerLink="/bird" class="nav-link active" aria-current="page">All Birds</a>
        </div>
      </div>
    </div>
  </nav>
